requests-html==0.10.0
nest_asyncio==1.6.0
beautifulsoup4==4.12.3
fake-useragent==1.5.1
lxml_html_clean==0.1.0
gcsfs==2024.6.0
pandas==2.2.2
pyarrow==17.0.0


lxml==5.3.0
html5lib==1.1
pyppeteer==2.0.0         
tqdm==4.66.5                  # progress bars for long loops



